fastapi==0.111.0
uvicorn[standard]==0.29.0
pymilvus==2.3.7
asyncpg==0.29.0
python-dotenv==1.0.1
httpx==0.27.0
google-cloud-translate==3.26.0
pydantic==2.10.6
marshmallow==3.21.3
numpy>=2.0.0
open_clip_torch>=2.24.0
torch>=2.1.0
tqdm>=4.66.0
sentence-transformers>=2.2.0
